<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    colors="true" verbose="true" stopOnFailure="false"
    bootstrap="phpunit.php">

    <!--
        Todos os endereços de arquivos e diretórios são relativos ao
        diretório no qual o PHP unit foi iniciado, ou aquele onde está
        o arquivo de configuração "phpunit.xml".
    -->

    <testsuites>
        <testsuite name="AeonDigital-PHP-DAL">
            <!--
                Defina aqui cada arquivo de testes que será utilizado.
            -->
            <file>src/DALTest.php</file>

            <file>src/DataModel/t01FieldTest.php</file>
            <file>src/DataModel/t02FieldCollectionTest.php</file>
            <file>src/DataModel/t03ModelTest.php</file>
            <file>src/DataModel/t04ModelFactory_SimpleFieldsTest.php</file>
            <file>src/DataModel/t05FieldModelTest.php</file>
            <file>src/DataModel/t06FieldModelCollectionTest.php</file>
            <file>src/DataModel/t07ComplexFieldModelCollectionTest.php</file>

            <file>src/ORM/t01DataColumnTest.php</file>
            <file>src/ORM/t02DataTableTest.php</file>
            <file>src/ORM/t03DataTableFactoryTest.php</file>
            <file>src/ORM/t04DataColumnFKTest.php</file>
            <file>src/ORM/t05DataTableFactoryFKTest.php</file>
            <file>src/ORM/t06SchemaMySqlTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
       <whitelist processUncoveredFilesFromWhitelist="true">
            <!--
                Defina aqui cada diretório de projeto que será
                avaliado em um teste de cobertura.
            -->
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
